doctype html
html(lang='en')
  
head
  block head
    block meta
      
    block style
      include ../_partials/assets/css.pug

body
  block header
    
  block main
    
  block footer
    
  block scripts
    include ../_partials/assets/js.pug
    
